@page
<h1>Contact</h1>
<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit voluptates perspiciatis quos, vero magnam deserunt fuga rerum nostrum expedita, accusantium harum? Eveniet repudiandae quam deserunt expedita neque sit voluptas dicta.</p>
</div>