@page
<h1>Privacy</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem temporibus earum ducimus, facilis soluta nostrum quod fugiat nulla laborum iste cupiditate porro voluptate minus architecto at itaque dolor dolorem suscipit.</p>